body {
  background-color: #1b1b1b;
  font-family: "Roboto", sans-serif;
}

p {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-right: 130px;
}
h3 {
  color: #f65282;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

span p {
  text-align: center;
  margin-right: 0px;
}
nav {
  background-color: #1b1b1b;
  width: 100%;
  padding: 25px;
  position: fixed;
  top: 0px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
  list-style-type: none;
  display: inline;
  font-size: 16px;
  line-height: 29px;
}
nav img {
  display: inline;
  margin: 0;
  height: 1px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  transition: ease-in-out 150ms;
}
nav a:hover,
.active {
  opacity: 60%;
}
.container-fluid {
  max-width: 1650px;
}

.background img {
  max-height: 800px;
}
.hero {
  background-image: url("images/shelly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
.hero h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.8px;
  padding-top: 200px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2.8px;
  margin: 25px auto;
  color: #ffffff;
}

.hero p {
  margin: auto 350px;
}

.but-link {
  color: #1b1b1b;
  background-color: #ffffff;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 40px;
  letter-spacing: 2px;
  margin: 48px auto;
}

.about h2 {
  font-size: 18px;
  color: #f65282;
  letter-spacing: 2.8px;
}

.about h1 {
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 2.8px;
}

.social-media-icon a {
  text-decoration: none;
}
.social-media-icon i {
  color: #ffffff;
  font-size: 25px;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.camera-info {
  display: inline-block;
  background-color: #2d2727;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
.camera-info img {
  display: inline;
  padding: 10px 10px 10px 0px;
}

@media (max-width: 1000px) {
  h1,
  .about h1 {
    font-size: 42px;
  }
  .hero p {
    margin: auto 10px;
  }

  .hero a {
    margin: 15px auto 20px;
  }
  img {
    display: block;
    margin: 0 auto;
  }

  p {
    margin-right: 0;
  }

  p,
  h1,
  h2 {
    text-align: center;
  }
  .about .but-link,
  .camera-info,
  .social-media-icon a {
    margin: 30px auto;
    display: block;
  }
  nav {
    padding: 20px;
  }
  nav img {
    width: 100px;
  }
  li {
    margin-left: 5px;
  }
}
